/* * { */
  /* box-sizing: border-box; */
  /* border: solid skyblue 2px;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}
#heroBanner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: skyblue;
}

/* Main body */
 
.page-section {
  display: flex;
  color: skyblue;
  height: 250px;
  padding: 20px;
}
/* portfolio grid */
#portfoliogrid {
  display: grid;
  grid-template-rows: 600px 200px 200px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

.portfoliogridArea {
 display: grid;
 justify-content: flex-end;
}

#project1 {
  grid-area: project1;
  
}

#project2 {
  grid-area: project2;
  
}

#project3 {
  grid-area: project3;
}

#project4 {
  grid-area: project4;
}

#project5 {
  grid-area: project5;
}

/* Contact section */
.page-sectionContact {
  display: flex;
  align-items: center;
}

.contactDetails {
  display: flex;
  justify-content: space-between;
}