/* * { */
  /* box-sizing: border-box; */
  /* border: solid skyblue 2px;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerItems {
display: flex;
}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}
#heroBanner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: skyblue;
}

/* Main body */
.title {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 text-align: right;
 /* border-right: skyblue solid 4px; */
 padding: 10px;
 margin-right: 15px;
 width: 100px;
}
/* #work h2 {
  display: inline-block;
  height: 900px;
} */
.page-section {
  display: flex;
  flex-direction: row;
  color: skyblue;
  padding: 20px;
}
#about {
  display: flex;
  align-items: flex-start;
}

#work {
  display: flex;
  align-items: flex-start;
}

#aboutmeText {
  padding-left: 10px;
}

/* portfolio grid */
#portfoliogrid {
  display: grid;
  grid-template-rows: 500px 200px 200px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

.portfoliogridArea {
 display: grid;
 justify-content: flex-end;
 color: black;
 background-position: center;
 background-repeat: no-repeat;
}

#project1 {
  grid-area: project1;
  background-image: url(../images/02-portfolio-1.jpg);
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 20px;
}

#project2 {
  grid-area: project2;
  background-image: url(../images/02-portfolio-2.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 20px;
}

#project3 {
  grid-area: project3;
  background-image: url(../images/02-portfolio-3.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 20px;
}

#project4 {
  grid-area: project4;
  background-image: url(../images/02-portfolio-4.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 20px;
}

#project5 {
  grid-area: project5;
  background-image: url(../images/02-portfolio-2.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 20px;
}

.textContainer {
  background-color: skyblue;
  opacity: 0.5;
  height: 50px;
  width: 100px;

}


/* Contact section */
.page-sectionContact {
  display: flex;
  align-items: center;
  color: skyblue;
  padding: 20px;
}

.contactDetails {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  width: 400px;
}